.main-cont {
  height: 100vh;
  display: flex;
}

.sidebar-cont {
  position: relative;
  width: 25%;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.362);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.outlet-cont {
  width: 75%;
}
